@mixin px-to-vw($property, $value) {
  @include max-width-xxxl {
    #{$property}: calc(#{$value} / #{$xxxl} * 100vw);
  }
  @include min-width-xxxl {
    #{$property}: #{$value}px;
  }
}

@mixin padding-style {
  @include px-to-vw(padding-left, 100);
  @include px-to-vw(padding-right, 100);
  @include px-to-vw(padding-top, 80);
  @include px-to-vw(padding-bottom, 80);
}

$xxxl: 1920;
$xxl: 1536;
$xl: 1280;
$lg: 1024;
$md: 768;
$sm: 640;

// min width

@mixin min-width-xxxl() {
  @media (min-width: #{$xxxl}px) {
    @content;
  }
}

@mixin min-width-xxl() {
  @media (min-width: #{$xxl}px) {
    @content;
  }
}

@mixin min-width-xl() {
  @media (min-width: #{$xl}px) {
    @content;
  }
}

@mixin min-width-lg() {
  @media (min-width: #{$lg}px) {
    @content;
  }
}

@mixin min-width-md() {
  @media (min-width: #{$md}px) {
    @content;
  }
}

@mixin min-width-sm() {
  @media (min-width: #{$sm}px) {
    @content;
  }
}

// max width

@mixin max-width-xxxl() {
  @media (max-width: #{$xxxl - 1}px) {
    @content;
  }
}

@mixin max-width-xxl() {
  @media (max-width: #{$xxl - 1}px) {
    @content;
  }
}

@mixin max-width-xl() {
  @media (max-width: #{$xl - 1}px) {
    @content;
  }
}

@mixin max-width-lg() {
  @media (max-width: #{$lg - 1}px) {
    @content;
  }
}

@mixin max-width-md() {
  @media (max-width: #{$md - 1}px) {
    @content;
  }
}

@mixin max-width-sm() {
  @media (max-width: #{$sm - 1}px) {
    @content;
  }
}
